<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Perfis</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"/>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Perfis</strong>
		</div>

		<div class="panel-body">
			<form class="form-horizontal" th:object="${profile}"
				th:action="@{/saveprofile}" method="POST" style="margin: 10px">
				<div class="form-group">
					<fieldset>
						<div class="form-group row">
							<div class="col-md-4">
								<label>Código</label> <input type="text"  readonly="true"
									class="form-control input-sm" th:field="*{profilecode}"
									maxlength="50" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4">
								<label>Descrição</label> <input type="text"
									class="form-control input-sm" th:field="*{description}"
									autofocus="autofocus" placeholder="Informe a descrição"
									maxlength="50" />
							</div>
						</div>
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
				</div>
			</form>
		</div>

		<div class="panel-body">
			<div class="table-responsive">
				<table
					class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>Código</th>
							<th>Descrição</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="profile : ${profiles}">
							<td th:text="${profile.profilecode}"></td>
							<td th:text="${profile.description}"></td>
							<td>
								<div class="btn-group pull-right">
									<a class="btn btn-sm btn-primary"
										th:href="@{/editprofile/{id}(id=${profile.profilecode})}">Editar</a>
									<a class="delete btn btn-sm btn-danger"
										th:href="@{/deleteprofile/{id}(id=${profile.profilecode})}">Excluir</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"/>
</body>
</html>